<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Papa's daybook</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

  {{!-- date picker 必備套件 --}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <a href="/" class="navbar-brand">PaPa's daybook</a>

      {{#if isAuthenticated}}
      <a href="/user/logout" class="btn btn-dark btn-outline-light">Logout</a>
      {{else}}
      <a href="/user/login" class="btn btn-dark btn-outline-light">Login</a>
      {{/if}}
    </nav>
  </header>
  <main class="">
    <div class="container mt-3">
      {{{body}}}
    </div>
  </main>

  {{!-- 下面這套件會讓 date picker 失效 --}}
  {{!-- <script src="/js/jquery-3.4.1.min.js"></script> --}}

  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>



  {{!-- date range picker --}}
  {{!-- 下面這套件會讓 date picker 失效 --}}
  {{!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> --}}

  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  {{!-- 載入 datePicker --}}
  {{!-- <script src="/js/datePicker.js"></script> --}}


  <script>
    $(function () {

      //daterange picker
      $('input[name="daterange"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });

      $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      });

      $('input[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });


      //date picker
      $('input[id="datepicker"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
      }, function (start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });


  </script>
</body>

</html>